<nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
  <a class="navbar-brand" style="color: brown; font-size: 30px;" href="#"> <b>ReciclAr</b> </a>
  <div class="navbar-nav ms-auto nav-flex-icons" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto flex-row gap-3">
      <li class="nav-item active">
        <a class="nav-link" style="color: brown; font-size: 30px;" href="#" title="Cambiar tamaño de fuente"
          (click)="getFontSize()"> Aa</a>
      </li>
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="color: brown; font-size: 30px;" href="#" id="dropdownBasic1" role="button"
          ngbDropdownToggle title="Ayuda"><i class="bi bi-question-circle"></i></a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="width:250px">
          <p class="px-4 py-2 pb-0" style="color: brown">Seleccione el cesto en el cual se deba arrojar el residuo que
            se
            muestra
            en la
            imagen.</p>
        </div>
      </li>
    </ul>
  </div>
</nav>